<% @posts.to_a[0..2].each do |post| %>
  <%= partial "posts/post", :locals => { :post => post, :comments => false } %>
<% end %>

<h2 class="previously">Previously on sickill.net:</h2>

<% @posts.to_a[3..-1].each do |post| %>
  <%= partial "posts/post_preview", :locals => { :post => post } %>
<% end %>
