set :application, "blogator"
set :repository, "git://.../blogator.git"
set :user, "username"
set :domain, "#{user}@domain"
set :deploy_to, "/path/to/#{application}"

namespace :vlad do
  remote_task :symlink_configs, :roles => [:app] do
    run "ln -s #{shared_path}/system/db.sqlite3 #{current_path}/db.sqlite3"
    run "ln -s #{shared_path}/assets #{current_path}/public/assets"
  end

  remote_task :start, :roles => [:app] do
    run "sudo god start #{application}"
  end

  remote_task :stop, :roles => [:app] do
    run "sudo god stop #{application}"
  end

  task :deploy => [ 'vlad:stop', 'vlad:update', 'vlad:symlink_configs', 'db:autoupgrade', 'vlad:start']
  # task :deploy_with_autoupgrade => [ 'vlad:stop', 'vlad:update', 'vlad:symlink_configs', 'db:autoupgrade', 'vlad:start']
end
