<h2>Editing: <%= @post.title %></h2>

<div class="admin">
  <form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="put" />
    <%= partial :"posts/post_form" %>
  </form>
</div>