<h2>Posts index</h2>

<%= link_to("New post", "/posts/new") %>

<ol>
  <% @posts.each do |post| %>
    <li><%= post.title %> (<%= post.published_at ? post.published_at.strftime("%Y/%m/%d") : "---" %>) <%= link_to("Edit", "/posts/#{post.id}/edit") %></li>
  <% end %>
</ol>
